* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    background-color: #c3efad;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 35px 50px;
    padding: 20px 50px;
}

div {
    border-radius: 5px;
    box-shadow: 1px 1px 10px #000000bd;
}