* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #e4b1b1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
}

.main h1 {
    font-size: 30px;
    margin-bottom: 40px;
    text-decoration: underline;
}

.input-main label {
    font-size: 22px;
    letter-spacing: 1px;
}

.input-main input {
    border: 2px solid #444343;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 22px;
    letter-spacing: 0.5px;
}

.btn {
    display: flex;
    gap: 20px;
    margin-left: 70px;

}

.btn button {
    width: 100px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#sub {
    color: green;
    border: green 2px solid;
    box-shadow: 2px 2px 8px green;
    transition: all 0.3s;
}

#sub:hover {
    box-shadow: none;
}

#cls {
    color: #dd0b00;
    border: #dd0b00 2px solid;
    box-shadow: 2px 2px 8px #dd0b00;
    transition: all 0.2s;
}

#cls:hover {
    box-shadow: none;
}


p {
    font-size: 22px;
    margin-left: 70px;
    margin-top: 20px;
}