* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #fbcacaa1;
    border-radius: 5px;
    gap: 35px;
}


#textHead {
    font-size: 25px;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}